#!/usr/bin/env python3
PACKAGE = "plan_env"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# explore trigger 
gen.add("Start_Explore", bool_t, 0, "Start Explore", False)
gen.add("Return_Home", bool_t, 0, "Return Home", False)

# gen.add(name, param_type, level, description, default, min, max)
# map range 
gen.add("BoxMin_x", double_t, 0, "Min Box X", -10.0, -100.0, 5.0)
gen.add("BoxMin_y", double_t, 0, "Min Box Y", -10.0, -100.0, 5.0)
gen.add("BoxMin_z", double_t, 0, "Min Box Z", 0.2, -10.0, 2.0)

gen.add("BoxMax_x", double_t, 0, "Max Box X", 30.0, 10.0, 100.0)
gen.add("BoxMax_y", double_t, 0, "Max Box Y", 30.0, 10.0, 100.0)
gen.add("BoxMax_z", double_t, 0, "Max Box Z", 5.0, 3.0, 20.0)
gen.add("Apply_Changes", bool_t, 0, "Apply Changes", False)

# 最后将生成 "ExpBox"+"Config"名称的.h 头文件！ 头文件名称并非依赖于 ExpBoxConfig.cfg！ 
exit(gen.generate(PACKAGE, "plan_env", "ExpBox"))
