[Unit]  
Description=Bridge Service
Wants=network-online.target
After=network-online.target
 
[Service]  
Type=simple  
User=uav
ExecStart=/home/uav/AstraDroneOpen/scripts/run_sh/patrol_sh/auto_start.sh
ExecStop=/usr/bin/tmux kill-session -t lio
Restart=on-failure
 
[Install]  
WantedBy=multi-user.target
