<?xml version="1.0"?>
<launch>
  <arg name="params_file" default="$(find dynamic_obstacle_controller)/config/obstacle_params.yaml"/>

  <node pkg="dynamic_obstacle_controller" name="obstacle_controller" type="obstacle_controller.py" output="screen" respawn="false">
    <rosparam file="$(arg params_file)" command="load" ns=""/>
  </node>
</launch>
