<?xml version="1.0"?>
<launch> 
    <arg name="rviz" default="true" />
    <!-- 终端是否输出debug信息 -->
    <rosparam param="debug">true</rosparam>  
    <rosparam file="$(find astra_control)/config/astra_sim.yaml" />
    <node pkg="astra_control" type="astra_control" name="astra_control" output="screen">
        <remap from="/detect/waypoint_mark" to="/detect/waypoint_mark"/><!-- 后面字符串填上你的话题，消息类型：geometry_msgs::PoseStamped -->
        <remap from="/detect/land_mark" to="/detect/land_mark"/>        <!-- 后面字符串填上你的话题，消息类型：geometry_msgs::PoseStamped -->
    </node>

    <!-- 启动Planner launch文件 -->
    <include file="$(find plan_manage)/launch/fast_planner_sim.launch" />

    <!-- 启动 rviz 文件 -->
	<group if="$(arg rviz)">
	    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find astra_control)/rviz_config/astra_pc.rviz" />
	</group>
</launch>