#!/usr/bin/env python
PACKAGE = "camera_sdk"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# 添加参数：名称、类型、级别、描述、默认值、最小值、最大值
gen.add("frame_width", int_t, 0, "Frame width", 640, 320, 1920)
gen.add("frame_height", int_t, 0, "Frame height", 480, 240, 1080)
gen.add("jpeg_quality", int_t, 0, "JPEG compression quality (0-100)", 80, 0, 100)
gen.add("publish_rate", int_t, 0, "Image publishing rate (Hz)", 30, 1, 60)
gen.add("save_images", bool_t, 0, "Enable image saving", False)
gen.add("save_frequency", double_t, 0, "Image saving frequency (Hz)", 1.0, 0.1, 10.0)

exit(gen.generate(PACKAGE, "camera_sdk", "CameraConfig"))