<launch>

    <!-- 存储全局点云数据并构建ikdtree后发布 ~ 只是用来表征已探索环境空间信息的，与算法无关 -->
    <node pkg="eva_metric" name="globalclouds" type="globalclouds" output="screen" >
        <param name="config_name" value="$(find eva_metric)/config/demo.yaml" type="string"></param>
        <!-- 工作空间下面 pcd 文件夹 -->
        <param name="pcd/store_dir" value="$(find eva_metric)/../pcd" type="string" />
    </node>

    <!-- <node pkg="rviz" type="rviz" name="fpv" args="-d $(find perfect_drone_sim)/rviz/fpv.rviz" output="log"/> -->

</launch>