#!/usr/bin/env python
PACKAGE = "csi_camera_driver"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("capture_width", int_t, 0, "Capture width", 1280, 640, 1920)
gen.add("capture_height", int_t, 0, "Capture height", 720, 480, 1080)
gen.add("display_width", int_t, 0, "Display width", 1280, 640, 1920)
gen.add("display_height", int_t, 0, "Display height", 720, 480, 1080)
gen.add("framerate", int_t, 0, "Frame rate", 30, 1, 60)
gen.add("flip_method", int_t, 0, "Flip method (0=none, 2=180)", 0, 0, 2)
gen.add("sensor_id", int_t, 0, "Sensor ID (0 or 1)", 0, 0, 1)
gen.add("use_gstreamer_pipeline", bool_t, 0, "Use GStreamer pipeline", True)

exit(gen.generate(PACKAGE, "csi_camera_driver", "Camera"))